<html>
  <head>
    <meta charset="utf-8"/>
    <title>TODO List</title>

    <!-- import or define css here -->
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <!-- implement your view here -->
    <section class="todo-app">
      <header class="header">
        <h1>todos</h1>
        <input autofocus autocomplete="off" placeholder="What needs to be done?" class="new-todo" />
      </header>
      <section class="main">
        <input type="checkbox" class="toggle-all"></input>
        <ul class="todo-list">
          <li class="todo" id="todo-template">
            <div class="view">
              <input type="checkbox" class="toggle"></input>
              <label></label>
              <button class="destroy"></button>
            </div>
          </li>
        </ul>
      </section>
      <footer class="footer"></footer>
    </section>

    <!-- import or define script here -->
    <script src="index.js"></script>
  </body>
</html>